[package]
name = "openssl-src"
version = "111.4.0+1.1.1c"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/alexcrichton/openssl-src-rs"
description = """
Source of OpenSSL and logic to build it.
"""
exclude = [
  'openssl/boringssl/*',
  'openssl/fuzz/*',
  'openssl/krb5/*',
  'openssl/pyca-cryptography/*',
  'openssl/test/*',
]

[workspace]
members = ['testcrate']

[dependencies]
cc = "1.0"
